In [1]:
import pandas as pd

In [25]:
df=pd.read_csv("disasters_dataset.csv",encoding="latin1")

In [26]:
df.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,1999-9388-DJI,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,DJI,...,NaN,NaN,NaN,NaN,NaN,NaN,58.111474,"[{""adm1_code"":1093,""adm1_name"":""Ali Sabieh""},{...",2006-03-01,2023-09-25
1,1999-9388-SDN,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,SDN,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":2757,""adm1_name"":""Northern Darfu...",2006-03-08,2023-09-25
2,1999-9388-SOM,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,SOM,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":2691,""adm1_name"":""Bay""},{""adm1_c...",2006-03-08,2023-09-25
3,2000-0001-AGO,No,tec-tra-roa-roa,Technological,Transport,Road,Road,NaN,NaN,AGO,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,NaN,2004-10-27,2023-09-25
4,2000-0002-AGO,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,AGO,...,NaN,NaN,NaN,NaN,10000.0,17695.0,56.514291,"[{""adm2_code"":4214,""adm2_name"":""Baia Farta""},{...",2005-02-03,2023-09-25

In [30]:
df.shape

(15784, 46)

In [27]:
df.describe()

,AID Contribution ('000 US$),Magnitude,Latitude,Longitude,Start Year,Start Month,Start Day,End Year,End Month,End Day,...,No. Affected,No. Homeless,Total Affected,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI
count,4.900000e+02,3.378000e+03,1815.000000,1815.000000,15784.000000,15715.000000,14275.000000,15784.000000,15622.000000,14342.000000,...,7.172000e+03,1.324000e+03,1.168200e+04,3.300000e+01,3.300000e+01,6.950000e+02,6.940000e+02,3.126000e+03,3.111000e+03,15621.000000
mean,2.851070e+04,6.006125e+04,16.464334,42.139949,2010.590155,6.448616,15.361331,2010.621706,6.572782,15.799749,...,6.373147e+05,3.178635e+04,3.955015e+05,5.687264e+06,6.357118e+06,1.291425e+06,1.699765e+06,1.127098e+06,1.471953e+06,72.701827
std,2.116816e+05,7.412252e+05,21.776287,75.535413,7.130697,3.420503,8.972848,7.134688,3.398380,8.894060,...,6.794417e+06,2.150570e+05,5.334026e+06,1.745232e+07,1.760343e+07,4.578385e+06,5.954430e+06,6.237979e+06,8.311406e+06,11.516895
min,3.000000e+00,-5.700000e+01,-72.640000,-172.095000,2000.000000,1.000000,1.000000,2000.000000,1.000000,1.000000,...,1.000000e+00,3.000000e+00,1.000000e+00,8.400000e+01,1.310000e+02,3.400000e+01,4.800000e+01,0.000000e+00,0.000000e+00,56.514291
25%,1.660000e+02,7.600000e+00,1.102500,0.859500,2004.000000,4.000000,7.000000,2004.000000,4.000000,8.000000,...,6.000000e+02,3.472500e+02,4.000000e+01,1.000000e+05,1.000000e+05,7.400000e+04,9.917050e+04,1.500000e+04,2.123400e+04,61.989586
50%,7.665000e+02,1.900000e+02,18.590000,54.448200,2010.000000,7.000000,15.000000,2010.000000,7.000000,16.000000,...,6.370000e+03,2.000000e+03,9.570000e+02,5.650000e+05,7.023360e+05,2.500000e+05,3.491245e+05,1.000000e+05,1.408780e+05,71.563596
75%,4.951000e+03,2.049750e+04,34.816500,103.099000,2017.000000,9.000000,23.000000,2017.000000,9.000000,24.000000,...,6.000000e+04,7.351500e+03,1.668700e+04,3.344000e+06,4.245383e+06,8.000000e+05,1.117445e+06,5.400000e+05,7.145890e+05,78.767923
max,3.518530e+06,4.000000e+07,67.930000,179.650000,2024.000000,12.000000,31.000000,2024.000000,12.000000,31.000000,...,3.300000e+08,5.000000e+06,3.300000e+08,1.000000e+08,1.000000e+08,6.000000e+07,9.361435e+07,2.100000e+08,2.844652e+08,100.000000

In [28]:
df.columns

Index(['DisNo.', 'Historic', 'Classification Key', 'Disaster Group',
       'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype',
       'External IDs', 'Event Name', 'ISO', 'Country', 'Subregion', 'Region',
       'Location', 'Origin', 'Associated Types', 'OFDA/BHA Response', 'Appeal',
       'Declaration', 'AID Contribution ('000 US$)', 'Magnitude',
       'Magnitude Scale', 'Latitude', 'Longitude', 'River Basin', 'Start Year',
       'Start Month', 'Start Day', 'End Year', 'End Month', 'End Day',
       'Total Deaths', 'No. Injured', 'No. Affected', 'No. Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damage ('000 US$)', 'Insured Damage, Adjusted ('000 US$)',
       'Total Damage ('000 US$)', 'Total Damage, Adjusted ('000 US$)', 'CPI',
       'Admin Units', 'Entry Date', 'Last Update'],
      dtype='object')

In [29]:
df.isnull().sum()

DisNo.                                           0
Historic                                         0
Classification Key                               0
Disaster Group                                   0
Disaster Subgroup                                0
Disaster Type                                    0
Disaster Subtype                                 0
External IDs                                 13379
Event Name                                   10829
ISO                                              0
Country                                          0
Subregion                                        0
Region                                           0
Location                                       648
Origin                                       11829
Associated Types                             12488
OFDA/BHA Response                                0
Appeal                                           0
Declaration                                      0
AID Contribution ('000 US$)                  15294
Magnitude                                    12406
Magnitude Scale                               5892
Latitude                                     13969
Longitude                                    13969
River Basin                                  14572
Start Year                                       0
Start Month                                     69
Start Day                                     1509
End Year                                         0
End Month                                      162
End Day                                       1442
Total Deaths                                  3129
No. Injured                                   9994
No. Affected                                  8612
No. Homeless                                 14460
Total Affected                                4102
Reconstruction Costs ('000 US$)              15751
Reconstruction Costs, Adjusted ('000 US$)    15751
Insured Damage ('000 US$)                    15089
Insured Damage, Adjusted ('000 US$)          15090
Total Damage ('000 US$)                      12658
Total Damage, Adjusted ('000 US$)            12673
CPI                                            163
Admin Units                                   7286
Entry Date                                       0
Last Update                                      0
dtype: int64

In [31]:
# transforming this data

In [32]:
df.columns = (
    df.columns
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("'", "")
    .str.replace("(", "")
    .str.replace(")", "")
)

In [33]:
df.columns

Index(['disno.', 'historic', 'classification_key', 'disaster_group',
       'disaster_subgroup', 'disaster_type', 'disaster_subtype',
       'external_ids', 'event_name', 'iso', 'country', 'subregion', 'region',
       'location', 'origin', 'associated_types', 'ofda/bha_response', 'appeal',
       'declaration', 'aid_contribution_000_us$', 'magnitude',
       'magnitude_scale', 'latitude', 'longitude', 'river_basin', 'start_year',
       'start_month', 'start_day', 'end_year', 'end_month', 'end_day',
       'total_deaths', 'no._injured', 'no._affected', 'no._homeless',
       'total_affected', 'reconstruction_costs_000_us$',
       'reconstruction_costs,_adjusted_000_us$', 'insured_damage_000_us$',
       'insured_damage,_adjusted_000_us$', 'total_damage_000_us$',
       'total_damage,_adjusted_000_us$', 'cpi', 'admin_units', 'entry_date',
       'last_update'],
      dtype='object')

In [34]:
drop_cols = [
    'external_ids',
    'associated_types',
    'aid_contribution_000_us$',
    'river_basin',
    'reconstruction_costs_000_us$',
    'reconstruction_costs,_adjusted_000_us$',
    'insured_damage_000_us$',
    'insured_damage,_adjusted_000_us$'
]

df.drop(columns=drop_cols, inplace=True, errors='ignore')

In [35]:
cat_fill_cols = [
    'origin',
    'magnitude_scale',
    'location'
]

df[cat_fill_cols] = df[cat_fill_cols].fillna("Unknown")

disno.                                0
historic                              0
classification_key                    0
disaster_group                        0
disaster_subgroup                     0
disaster_type                         0
disaster_subtype                      0
event_name                        10829
iso                                   0
country                               0
subregion                             0
region                                0
location                              0
origin                                0
ofda/bha_response                     0
appeal                                0
declaration                           0
magnitude                         12406
magnitude_scale                       0
latitude                          13969
longitude                         13969
start_year                            0
start_month                          69
start_day                          1509
end_year                              0
end_month                           162
end_day                            1442
total_deaths                       3129
no._injured                        9994
no._affected                       8612
no._homeless                      14460
total_affected                     4102
total_damage_000_us$              12658
total_damage,_adjusted_000_us$    12673
cpi                                 163
admin_units                        7286
entry_date                            0
last_update                           0
dtype: int64

In [37]:
df['magnitude'] = df['magnitude'].fillna(df['magnitude'].median())
df['latitude']  = df['latitude'].fillna(df['latitude'].median())
df['longitude'] = df['longitude'].fillna(df['longitude'].median())

In [39]:
impact_cols = [
    'total_deaths',
    'no._injured',
    'no._affected',
    'no._homeless',
    'total_affected'
]

df[impact_cols] = df[impact_cols].fillna(0)

In [41]:
damage_cols = [
    'total_damage_000_us$',
    'total_damage,_adjusted_000_us$'
]

df[damage_cols] = df[damage_cols].fillna(0)

In [42]:
df.isnull().sum()

disno.                                0
historic                              0
classification_key                    0
disaster_group                        0
disaster_subgroup                     0
disaster_type                         0
disaster_subtype                      0
event_name                        10829
iso                                   0
country                               0
subregion                             0
region                                0
location                              0
origin                                0
ofda/bha_response                     0
appeal                                0
declaration                           0
magnitude                             0
magnitude_scale                       0
latitude                              0
longitude                             0
start_year                            0
start_month                          69
start_day                          1509
end_year                              0
end_month                           162
end_day                            1442
total_deaths                          0
no._injured                           0
no._affected                          0
no._homeless                          0
total_affected                        0
total_damage_000_us$                  0
total_damage,_adjusted_000_us$        0
cpi                                 163
admin_units                        7286
entry_date                            0
last_update                           0
dtype: int64

In [43]:
events = df[[
    'disno.',
    'disaster_group',
    'disaster_type',
    'disaster_subtype',
    'event_name',
    'country',
    'region',
    'subregion',
    'location',
    'start_year',
    'start_month',
    'start_day',
    'end_year',
    'end_month',
    'end_day'
]]

events.to_csv("disaster_events.csv", index=False)

In [45]:
events.head()

,disno.,disaster_group,disaster_type,disaster_subtype,event_name,country,region,subregion,location,start_year,start_month,start_day,end_year,end_month,end_day
0,1999-9388-DJI,Natural,Drought,Drought,NaN,Djibouti,Africa,Sub-Saharan Africa,"Ali Sabieh, Dikhil, Djibouti, Obock, Tadjourah...",2001,6.0,NaN,2001,NaN,NaN
1,1999-9388-SDN,Natural,Drought,Drought,NaN,Sudan,Africa,Northern Africa,"Northern Darfur, Northern Kordofan, Red Sea pr...",2000,1.0,NaN,2001,NaN,NaN
2,1999-9388-SOM,Natural,Drought,Drought,NaN,Somalia,Africa,Sub-Saharan Africa,"Ceel Barde, Rab Dhuure, Tayeeglow, Xudur distr...",2000,1.0,NaN,2001,NaN,NaN
3,2000-0001-AGO,Technological,Road,Road,NaN,Angola,Africa,Sub-Saharan Africa,Calulo,2000,1.0,26.0,2000,1.0,26.0
4,2000-0002-AGO,Natural,Flood,Riverine flood,NaN,Angola,Africa,Sub-Saharan Africa,"Dombre Grande village (Baia Farta district, Be...",2000,1.0,8.0,2000,1.0,15.0

In [44]:

impact = df[[
    'disno.',
    'total_deaths',
    'no._injured',
    'no._affected',
    'no._homeless',
    'total_affected',
    'magnitude',
    'total_damage_000_us$',
    'total_damage,_adjusted_000_us$'
]]

impact.to_csv("disaster_impact.csv", index=False)